<div
  class="container bg-secondary bg-gradient rounded"
  style="--bs-bg-opacity: 0.4; border-style: dashed"
>
  <div class="row row-cols-2 py-4">
    <div class="col">
      <div class="row row-cols-4 gy-2 py-4">
        <div class="col">
          <label for="Cod_producto" class="form-label">Cod producto</label>
          <input
            type="number"
            class="form-control"
            name="Cod_producto"
            id="Cod_producto"
            placeholder="Cod producto"
          />
        </div>
        <div class="col">
          <label for="Nombre_producto" class="form-label"
            >Nombre producto</label
          >
          <input
            type="text"
            class="form-control"
            name="Nombre_producto"
            id="Nombre_producto"
          />
        </div>
        <div class="col">
          <label for="Cantidad" class="form-label">Cantidad</label>
          <input
            type="text"
            class="form-control"
            name="Cantidad"
            id="Cantidad"
            value="0"
          />
        </div>

        <div class="col">
          <label for="Valor_Unit" class="form-label">Valor Unit</label>
          <input
            type="number"
            class="form-control"
            name="Valor_Unit"
            id="Valor_Unit"
            placeholder="Valor Unit"
          />
        </div>
        <div class="col">
          <label for="Cod_producto" class="form-label">Cod producto</label>
          <input
            type="number"
            class="form-control"
            name="Cod_producto"
            id="Cod_producto"
            placeholder="Cod producto"
          />
        </div>
        <div class="col">
          <label for="Nombre_producto" class="form-label"
            >Nombre producto</label
          >
          <input
            type="text"
            class="form-control"
            name="Nombre_producto"
            id="Nombre_producto"
          />
        </div>
        <div class="col">
          <label for="Cantidad" class="form-label">Cantidad</label>
          <input
            type="text"
            class="form-control"
            name="Cantidad"
            id="Cantidad"
            value="0"
          />
        </div>

        <div class="col">
          <label for="Valor_Unit" class="form-label">Valor Unit</label>
          <input
            type="number"
            class="form-control"
            name="Valor_Unit"
            id="Valor_Unit"
            placeholder="Valor Unit"
          />
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row row-cols-2 py-0 px-2">
        <button
          type="button"
          class="btn btn-success mt-2 p-2 fs-2 btn-lg rounded-4"
        >
          +
        </button>
        <button type="button" class="btn btn-danger my-2 p-1 fs-4 btn-lg">
          -
        </button>
        <button
          type="button"
          class="btn btn-success mt-2 p-2 fs-2 btn-lg rounded-4"
        >
          +
        </button>
        <button type="button" class="btn btn-danger my-2 p-1 fs-4 btn-lg">
          -
        </button>
      </div>
    </div>
  </div>
</div>
