<div class="container bg-secondary bg-gradient rounded" style="--bs-bg-opacity: .4; border-style: dashed;">
    <div class="row cols-1 gy-2 py-4">
        <div class="col-sm-12 text-center"><h2>Header the bill</h2></div>
        <div class="col-sm-4">
            <label for="N_Bill" class="form-label">N de bill</label>
            <input type="number" class="form-control" name="N_Bill" id="N_Bill" placeholder="Type the bill's number">
        </div>
        <div class="col-sm-4">
            <label for="Bill_Date" class="form-label">Bill Date</label>
            <input type="date" class="form-control" name="Bill_Date" id="Bill_Date">
        </div>
        <div class="col-sm-4">
            <label for="Seller" class="form-label">Seller</label>
            <input type="text" class="form-control" name="Seller" id="Seller" placeholder="Type the seller's name">
        </div>

        <div class="col-sm-4">
            <label for="Identification" class="form-label">Customer identification</label>
            <input type="number" class="form-control" name="Identification" id="Identification" placeholder="Type the customer's ID">
        </div>
        <div class="col-sm-4">
            <label for="Full_Name" class="form-label">Full name</label>
            <input type="text" class="form-control" name="Full_Name" id="Full_Name" placeholder="Type the full name">
        </div>
        <div class="col-sm-4">
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" name="Email" id="Email" placeholder="Type the email">
        </div>
    </div>
</div>