<div class="product row row-cols-sm-6 g-2 py-2">
  <div>
    <label class="form-label">Product Id</label>
    <input
      type="text"
      class="form-control"
      name="id_product"
      placeholder="Type the product id"
    />
  </div>
  <div>
    <label class="form-label">Product Name</label>
    <input
      type="text"
      class="form-control"
      name="name_product"
      placeholder="Type the product name"
    />
  </div>
  <div>
    <label  class="form-label">Amount</label>
    <input
      type="number"
      class="form-control"
      name="amount"
      readonly
      placeholder="Type the amount"
    />
  </div>
  <div>
    <label  class="form-label">Unit value</label>
    <input
      type="number"
      class="form-control"
      name="value_product"
      placeholder="Type the value"
    />
  </div>
  <div class="d-flex align-items-center">
    <button
      type="button"
      class="btn w-100 h-100 btn-outline-success"
    >+</button>
  </div>
  <div class="d-flex align-items-center">
    <button
      type="button"
      class="btn w-100 h-100 btn-outline-danger"
    >-</button>
  </div>
</div>
